.landing-container {
  background-image: url('https://img.freepik.com/premium-photo/hospital-background-website-ai-generative_895799-9223.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background-color: white;
  color: rgb(64, 200, 246);
  padding: 40px;
  text-align: center;
  border-radius: 10px;
}

.landing-title {
  font-size: 3rem;
  margin-bottom: 10px;
}

.landing-subtitle {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color:rgb(181, 101, 206);
}

.landing-buttons .landing-btn {
  background-color: #0c9;
  color: white;
  padding: 12px 25px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.landing-buttons .landing-btn:hover {
  background-color: #087;
}